@import 'includes/_essentials';

.ad-sidebar{
  margin-top: 65px;
}

.content-home{
  border: 1px solid #174c4f;
  border-bottom: 0;
  background-color: white;

  margin-top: 35px;
}

section#content{
  padding-bottom:150px;
}