@import 'includes/_variables';

.featured-author-img{
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  top: -90px;
}

.featured-recipe-img{
  width: 100% !important;
  height: auto;
}

.carousel-caption{
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  left: 0;
  bottom: 0;
  padding-bottom: 30px;

  h1{
    margin: 0;
  }

  h1 a{
    color: white;
  }

  .author{
    color: #999;
    a{
      color: $offset-color;
    }
  }
}

#home-content{
  padding: 0px 30px 0px 30px;
}

@media (max-width: $screen-xs-max) {
  .featured-author-img{
    position: relative;
  }

  .carousel-caption{
    position: relative;
  }

  #home-content{
    padding: 65px 15px 20px 15px;
  }
  .featured-author-img{
    display: none;
  }
}