@import 'includes/_variables';

#edit-recipe{
    background-color: white;
    padding-top: 25px;
}
#recipe-image{
    width: 320px;
    height: 180px;
}

#image-crop{
    width: 100%;
    height: auto;
}


#edit-recipe-button{
    margin: 20px 0;
    font-size: 24px;
}

#recipe-directions{
    height: 85px;
    margin-bottom: 10px;
}

#ingredient-list{
    list-style-type: none;
    cursor: move;
    padding: 0;
    .btn{
      margin-left: 5px;
    }
    li{
      padding: 5px 0;
    }
}

#directions-list{
  list-style: decimal inside;
  cursor: move;
  padding: 0;
  .btn{
    margin-left: 5px;
  }
  li{
    padding: 5px 0;
  }
}

@media (max-width: $screen-xs-max) {
  h1{
    text-align: center;
    span{
      float: none;
      display: block;

    }
    margin-bottom: 35px !important;
  }

  .how-to-cook-header{
    text-align: left;
  }

  #ingredient-list{
    text-align: left;
    font-size: 16px;
    line-height: 40px;
    span{
      margin-left: 0;
    }
    .ingredient-delete{
      right: 0px;
    }
    .ingredient-edit{
      right: 40px;

    }
  }


  #directions-list{
    text-align: left;
    font-size: 16px;
    span{
      margin-left: 0;
    }
    .directions-delete{
      right: 0px;
    }
    .directions-edit{
      right: 40px;

    }
  }
}