@import 'includes/_variables';

#forum-wrap{
  background-color: white;
}

#forum-pagination{
  width: 100%;
}
.pagination{
  float: right;
  li{
    float: left;
    font-family: $non-heading-font;
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 5px;
    background-color: $primary-color;
    a{
      color: white;
    }

    &.disabled{
      background-color: #ccc;
    }

    &.active{
      background-color: $secondary-color;
      color: white;
    }
  }
}

h1{
  margin-bottom: 10px;
  font-family: $non-heading-font;
  font-size: 40px;
  color: $primary-color;
}

.category{
  h2{
    color: white;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: $primary-color;
    padding: 5px 10px;
  }
  margin-bottom: 20px;
}

.topic{
  margin-bottom: 15px;
  padding: 5px;
  h3{
    font-family: $paragraph-font;
    font-size: 18px;
    font-weight: bold;
    a{
      color: $secondary-color;
    }
  }
  p{
    font-size: 14px;
  }
}

#post-listing{
  margin-top: 15px;
  margin-bottom: 25px;
  width: 100%;
  text-align: left;
  font-family: $non-heading-font;

  th{
    font-family: $non-heading-font;
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    color: $primary-color;
  }

  .post{
    &:hover{
      background-color: #eee;
    }
    td{
      padding: 10px 0;
      border-bottom: 1px solid #eee;
    }
  }

  .post-status{
    text-align: center;
    color: $primary-color;
  }

  .post-name{
    a{
      color: $secondary-color;
      font-family: $non-heading-font;
      font-size: 18px;
      width: 100%;
      display: block;
    }
  }

  .post-author{
    a{
      width: 100%;
      display: block;
      color: $offset-color;
    }
  }

  .header-activity-date{
    text-align: right;
  }

  .post-activity-date{
    text-align: left;
  }

  .post-activity-author{
    text-align: right;
    padding-right: 5px !important;
  }

  .header-replies, .post-replies, .header-views, .post-views{
    text-align: center;
  }

  .post-activity-author, .post-activity-date{
    font-size: 12px;
  }
}

#reply-header{
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.reply{
  margin-bottom: 15px;
  padding-bottom: 65px;
  border-bottom: 1px solid #eee;
  min-height: 125px;

  .reply-content{
    font-size: 16px;
    font-family: $paragraph-font;
    margin-bottom: 15px;
  }

  .last-edited{
    font-size: 14px;
    font-family: $paragraph-font;
    color: #999;
  }

  .reply-number{
    display: block;
    width: 100%;
    color: $secondary-color;
    text-align: right;
    font-family: $non-heading-font;
  }

  .anchor{
    display: block;
    height: 60px; /*same height as header*/
    margin-top: -60px; /*same height as header*/
    visibility: hidden;
  }

  .date{
    text-align: right;
    color: #aaa;
    font-family: $non-heading-font;
    font-size: 14px;
  }

  .action-bar{
    position: absolute;
    right: 15px;
    bottom: 20px;
    a{
      display: block;
      float: left;
      margin-left: 5px;
    }
  }
}

.post-sidebar{

  h3{
    font-family: $non-heading-font;
    color: $primary-color;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .forum-avatar{
    width: 100%;
    height: auto;
  }

  .author{
    color: $secondary-color;
    font-family: $non-heading-font;
    font-size: 16px;
    margin-left: -15px;
  }

  .post-count{
    color: $primary-color;
    font-family: $non-heading-font;
    font-size: 11px;
    margin-left: -15px;
  }
}

.reply-actionbar{
  margin-bottom: 5px;
  .small-button{
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 11px;
    min-width: 25px;
    text-align: center;
    font-size: 12px;
    &:hover{
      background-color: $secondary-color;
    }
  }

  #reply-bold{
    font-weight: bold;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  #reply-italic{
    font-style: italic;
  }

  #reply-underline{
    text-decoration: underline;
  }
}

#edit-preview{
  float: right;
}

#preview-reply{
  display: none;
  margin-bottom: 15px;
  em{
    font-style: italic;
  }
  u{
    text-decoration: underline;
  }
  b{
    font-weight: bold;
  }
}