@import 'includes/_variables';
//
// Featured Recipes
//

#carousel-home{
  position: relative;
}

#main-slider{
  background-color: black;
  max-height: 618px;
}

.slider-item{
  position: relative;

  .featured-recipe-img{
    height: auto;
    width: 100%;
  }
}

.carousel-caption{
  	background-color: rgba(0, 0, 0, .6);
  	width: 100%;
  	left: 0;
  	bottom: 0;
    padding: 15px;
    text-align: left;

    h1{
      margin: 0;
      font-size: 28px;
      line-height: 30px;
    }

    h1 a{
      color: white;
    }

  	.author{
	  	color: #999;
	  	a{
		  color: $offset-color;
		}
	}

  .featured-author-img{
  }
}

.caption-style-1{
  position: absolute;
  bottom: 40px;
  width: 100%;

  h1{
    font-size: 40px;
    margin: 0 0 12px 0;
    text-transform: uppercase;

    a{
      color: white;
      border-bottom: 3px solid white;
      &:hover{
        text-decoration: none;
      }
    }
  }
  p{
    color: white;
    font-size: 24px;
    text-transform: uppercase;
  }

  .btn{
    text-transform: uppercase;
  }
}

.caption-style-2{
  position: absolute;
  top: 50px;
  width: 100%;
  padding-left: 40px;

  h1{
    font-size: 50px;
    margin: 0 0 12px 0px;
    text-transform: uppercase;
    width: 50%;

    a{
      color: white;
      &:hover{
        text-decoration: none;
      }
    }
  }

  .btn{
    text-transform: uppercase;
  }
}

.caption-style-3{
  position: absolute;
  bottom: 50px;
  width: 100%;
  padding-left: 40px;

  h1{
    font-size: 50px;
    margin: 0 0 5px 0px;
    text-transform: uppercase;
    font-weight: bold;
    &:first-line{
      font-weight: normal;
      font-size: 30px;
      line-height: 1;
      letter-spacing: 5px;
    }

    a{
      color: white;
      &:hover{
        text-decoration: none;
      }
    }
  }

  .btn{
    text-transform: uppercase;
  }
}

#home-content{
  padding: 0px 30px 0px 30px;
}

#latest-posts{
  padding-left: 20px;
}

#recipe-categories{
    background-color: #fff;
    padding-top: 65px;
    padding-bottom: 50px;
}

#explore-recipes-header{
  margin-top: 25px;
}

#explore-recipes{
  position: relative;
  background-color: white;
  overflow: hidden;
  margin-bottom: 35px;

  .slick-prev,
  .slick-next {
    height: 25px;
    width: 25px;
    top: 50%;
  }

  .slick-prev:before, .slick-next:before {
    font-size: 25px;
  }

  .slick-prev {
    left: 125px;
  }

  .slick-next {
    right: 145px;
  }
}

.secondary-slider{
  width: auto;
  margin-right: 8px;
  &:last-child{
    margin-right: 0;
  }
}

.recipe-category{
    position: relative;
    display: block;
    height: 130px;
    overflow: hidden;
    color: transparent;
    text-align: center;
    text-decoration: none !important;

	img{
      width: auto;
      max-height: 175px;
      position: absolute;
      margin-top: -15px;
	}
}

@media (max-width: 1200px) {
  #explore-recipes{
    padding: 0 0;
  }

  .slick-track{
    max-height: 500px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #home-content{
    padding-bottom: 15px;
  }
  .content-top{
    padding-top: 15px;
  }
}

@media (max-width: $screen-xs-max) {
  .carousel-caption{
    position: relative;
    top: 100%;
  }

  #home-content{
    padding: 65px 15px 20px 15px;
  }
  .featured-author-img{
    display: none !important;
  }
  #explore-recipes{
    height: 100px;
  }

  .recipe-category{
    height: 100px;
    img{
      height: 100px;
    }
  }
}