#profile-wrap {
  overflow: hidden;
  background-size: 144px 81px !important;
  position: absolute;
  opacity: 0.25;
  width: 100%;
  height: 100%; }

#profile {
  padding: 0 0px 0 0px;
  width: 100%;
  opacity: 1;
  position: relative;
  background-color: #000; }
  #profile #profile-header {
    background-color: white;
    padding: 25px 60px 60px 60px; }
    #profile #profile-header .avatar {
      width: 100%;
      margin-bottom: 2px; }
    #profile #profile-header #recipe-stats {
      margin-bottom: 15px; }
    #profile #profile-header #recipe-stats h6, #profile #profile-header #review-stats h6 {
      color: #174c4f;
      font-weight: bold;
      margin: 0; }
    #profile #profile-header #recipe-stats p, #profile #profile-header #review-stats p {
      color: #174c4f;
      font-size: 14px;
      font-style: italic;
      line-height: 1.5;
      margin-bottom: 0px; }
      #profile #profile-header #recipe-stats p img, #profile #profile-header #review-stats p img {
        margin-top: -5px;
        width: 15px;
        height: 15px; }
      #profile #profile-header #recipe-stats p span, #profile #profile-header #review-stats p span {
        font-size: 16px;
        margin-left: 3px;
        font-weight: bold; }
    #profile #profile-header h3 {
      font-weight: 100;
      font-size: 24px;
      width: 100%;
      margin-bottom: 15px;
      margin-top: 0; }
      #profile #profile-header h3 a {
        color: #207178; }
    #profile #profile-header ul {
      list-style-type: none;
      list-style-position: inside;
      padding: 0; }
  #profile #about-menu {
    display: none; }
  #profile .profile-about {
    text-align: center;
    color: white; }
    #profile .profile-about a {
      color: white;
      display: block; }
    #profile .profile-about .info {
      padding: 8px 0;
      font-size: 16px;
      background-color: #174c4f;
      margin-bottom: 2px; }
    #profile .profile-about .glyphicon {
      margin-top: 2px;
      margin-right: 4px; }
  #profile #about-menu-more {
    text-align: center;
    color: #174c4f;
    padding: 5px 0;
    margin: 10px 0;
    cursor: pointer; }
    #profile #about-menu-more .glyphicon {
      margin-right: 4px; }

#profile-recipes {
  padding-bottom: 45px; }

#recent-reviews {
  margin-top: 60px; }
  #recent-reviews .recipe-review img {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 75px;
    height: 75px; }
  #recent-reviews .recipe-review p {
    margin-bottom: 0px; }
    #recent-reviews .recipe-review p a {
      font-weight: bold; }

.more {
  color: #207178; }

.view-all-recipes-reviews {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #207178;
  text-decoration: underline;
  display: block; }

#my-reviews {
  padding-top: 40px;
  padding-bottom: 30px; }

@media (min-width: 992px) and (max-width: 1200px) {
  #recent-reviews {
    margin-top: 15px;
    margin-bottom: 30px; }

  #search-results {
    padding-bottom: 0; } }
@media (min-width: 768px) and (max-width: 991px) {
  #recent-reviews {
    margin-top: 15px;
    margin-bottom: 30px; }

  #search-results {
    padding-bottom: 0; }

  .profile-stats-inline {
    display: none; } }
@media (max-width: 991px) {
  #profile #profile-header {
    padding-left: 15px;
    padding-right: 15px; } }

/*# sourceMappingURL=profile.css.map */
