@import 'includes/_variables';

#search-bar{
    padding-bottom: 60px;
    background-color: rgba(0,0,0,.85);

    position: relative;

    span{
        color: white;
        font-size: 26px;
        margin-right: 10px;
    }

    a{
        font-size: 18px;
        color: white;
        margin-right: 10px;
        font-variant: small-caps;
    }
    a.active{
        color: $offset-color;
    }

    input[type=text]{
        margin-top: 8px;
        border: none;
        outline: none;

        background-image: url("../img/search.gif");
        background-repeat: no-repeat;
        background-position: 99% 50%;
        background-size: auto 65%;
    }
}

#search-user-image{
    width: 100%;
    height: auto;
}


@media (max-width: $screen-xs-max) {
  #search-bar span {
    font-size: 18px;
  }
}