@import 'includes/_variables';

#search-bar{
    #search-bar-contents{
      background-color: white;
      padding-bottom: 60px;
    }

    position: relative;
    background-color: #000;

    input[type=text]{
        background-image: url("../img/search.gif");
        background-repeat: no-repeat;
        background-position: 99% 50%;
        background-size: auto 65%;
    }
}

#search-user-image{
    width: 100%;
    height: auto;
}


@media (max-width: $screen-xs-max) {
  #search-bar span {
    font-size: 18px;
  }
}