#single-recipe {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 60px; }
  #single-recipe #main-image {
    margin-bottom: 10px; }
  #single-recipe .upper-menu {
    position: relative;
    margin-bottom: 15px; }
    #single-recipe .upper-menu h1 {
      color: #174c4f;
      margin: 0; }
  #single-recipe .recipe-info .subscriber_count {
    margin-bottom: 10px; }
  #single-recipe .recipe-info p {
    color: #174c4f; }
    #single-recipe .recipe-info p img {
      margin-top: -8px;
      margin-left: 3px;
      width: 20px;
      height: 20px; }
    #single-recipe .recipe-info p img:first-child {
      margin-left: 5px; }
  #single-recipe .lower-menu .recipe-description {
    color: #174c4f; }
  #single-recipe .lower-menu h4 {
    text-transform: uppercase;
    color: #174c4f;
    font-weight: bold;
    margin-bottom: 5px; }
  #single-recipe .lower-menu #ingredients, #single-recipe .lower-menu #directions {
    margin: 15px 0;
    font-size: 18px;
    color: #174c4f; }
    #single-recipe .lower-menu #ingredients ul, #single-recipe .lower-menu #ingredients ol, #single-recipe .lower-menu #directions ul, #single-recipe .lower-menu #directions ol {
      padding: 0;
      list-style-type: none; }
    #single-recipe .lower-menu #ingredients ol, #single-recipe .lower-menu #directions ol {
      list-style: outside decimal; }

#main-image-show-reviews {
  cursor: pointer;
  position: relative;
  display: block; }
  #main-image-show-reviews span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    text-transform: uppercase; }

#review-image-view-modal h5 {
  margin-left: 60px;
  margin-right: 60px; }
  #review-image-view-modal h5 small {
    font-size: inherit; }
#review-image-view-modal .modal-body {
  padding-top: 15px; }

#recipe-photos {
  padding-left: 60px;
  padding-right: 60px; }
  #recipe-photos .recipe-photo-single {
    margin-bottom: 10px; }

.recipe-review span.ratings {
  margin-top: 10px; }

#reviews {
  padding-top: 60px;
  padding-bottom: 60px; }
  #reviews h4 {
    color: #174c4f;
    padding: 0;
    margin: 0; }
  #reviews .review-stats {
    margin-bottom: 40px; }
    #reviews .review-stats img {
      width: 16px;
      height: 16px; }
  #reviews .rating-percent-outer {
    width: 240px;
    height: 16px;
    background-color: #ccc;
    float: left;
    margin: 0px 10px 5px 0; }
    #reviews .rating-percent-outer .rating-percent-inner {
      height: 100%;
      background-color: #ff9666; }
  #reviews .ratings {
    float: right; }
  #reviews .review {
    margin-bottom: 20px;
    min-height: 120px; }
    #reviews .review .ratings img {
      width: 15px;
      height: 15px; }
    #reviews .review .review-author {
      float: left; }
    #reviews .review p {
      clear: both;
      line-height: 1.4;
      color: #174c4f;
      max-height: 70px;
      margin-bottom: 5px; }
    #reviews .review a.more {
      color: #207178;
      float: left; }
    #reviews .review .date {
      color: #999;
      font-style: italic;
      font-size: 12px;
      margin-top: 3px; }
    #reviews .review .helpful-link {
      float: right;
      margin-left: 10px;
      color: #ccc;
      cursor: pointer;
      font-size: 16px; }
      #reviews .review .helpful-link.selected, #reviews .review .helpful-link:hover {
        color: #207178; }
  #reviews #load-more-reviews {
    width: 100%;
    display: block;
    text-align: center;
    color: #207178;
    text-decoration: underline;
    font-size: 16px; }
  #reviews #rate-this-recipe #recipe-rating {
    float: left;
    margin-bottom: 5px; }
    #reviews #rate-this-recipe #recipe-rating img {
      margin-right: 3px;
      height: 20px;
      width: 20px;
      cursor: pointer; }
  #reviews #rate-this-recipe #review-image-btn {
    margin-bottom: 5px; }
  #reviews #rate-this-recipe #submit-review {
    float: right; }

@media (min-width: 1200px) {
  #single-recipe {
    padding-left: 30px;
    padding-right: 30px; } }
@media (min-width: 992px) and (max-width: 1200px) {
  #rate-this-recipe #recipe-rating img {
    margin-bottom: 15px; }
  #rate-this-recipe textarea {
    height: 100px; } }
@media (min-width: 768px) and (max-width: 991px) {
  #single-recipe {
    padding: 60px 15px; }
    #single-recipe .recipe-info {
      text-align: center; }
      #single-recipe .recipe-info .info {
        background-color: transparent;
        text-align: center; }

  .lower-menu {
    margin-top: 10px; }

  #reviews h4 {
    font-size: 12px; }
  #reviews .review {
    margin-bottom: 30px; }

  #rate-this-recipe textarea {
    height: 90px; } }
@media (max-width: 767px) {
  #single-recipe {
    padding-left: 15px;
    padding-right: 15px; }
    #single-recipe .upper-menu h1 {
      font-size: 22px; }
    #single-recipe .upper-menu .recipe-details {
      margin-top: 10px;
      font-size: 16px; }
    #single-recipe .recipe-info {
      text-align: center; }
    #single-recipe .lower-menu {
      text-align: center; }
      #single-recipe .lower-menu .recipe-description {
        margin-top: 5px; }

  #rate-this-recipe textarea {
    height: 200px; } }

/*# sourceMappingURL=single-recipe.css.map */
