@import '_variables';

.ribbon{
    z-index: 100;
	position: relative;
	text-align: center;
	
	height: 10px;

	&.ribbon-content{
        height: 30px;
	}

	#ribbon-img{
		position: absolute;
        left: 50%;
        top: -30px;
        width: 250px;
        margin-left: -125px;
		z-index: 10;
	}

    h3{
		position: absolute;
		top: -10px;
        margin: 0 auto;
		left: 0;
		right: 0;
        z-index: 100;
        max-width: 200px;
        color: white;
        text-shadow: 1px 2px #333;

        span{
            color: $offset-color;
            font-style: italic;
        }
	}

    ul{
        margin: 0;
        padding: 0;

        list-style-type: none;
        list-style-position: inside;

        font-size: 12px;
        line-height: 30px;
        font-weight: bold;
        font-style: italic;

        li{
            height: 30px;
            float: left;
        }

        span{
            margin-left: 3px;
            font-size: 16px;
            color: $highlight-color;
        }

        color: white;
    }

    .ribbon-left-menu{
        position:absolute;
        top: 0px;
        right: 50%;
        margin-right: 135px;

        li{
            margin-left: 8px;
        }
    }

    .ribbon-right-menu{
        position:absolute;
        top: 0px;
        left: 50%;
        margin-left: 135px;

        li{
            margin-right: 8px;
        }
    }

    .glyphicon{
      font-size: 10px;
      margin-top: 5px;
    }
}

.green-ribbon{
    background-color: $primary-color;
}

.orange-ribbon{
    background-color: $offset-color;
    span{
        color: $secondary-color !important;
    }
}

.image{
  border: 2px solid white;
  box-shadow: 0px 0px 3px #333;
}

.ratings{
	img{
		height: 12px;
		width: 12px;
		margin-right: 3px;
		float: left;
	}
}

.tooltip{
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;

    .tooltip-inner{
        background-color: $primary-color;

        font-size: 16px !important;
    }
    .tooltip-arrow{
        border-bottom-color: $primary-color !important;
    }
}

.dropdown{
  cursor: pointer;

  .dropdown-menu{
    padding: 0;
    font-size: 16px;
    font-style: normal;
    li{
      width: 100%;
      margin: 0;
    }
  }
}

#search-results{
    padding-top: 60px;
    padding-bottom: 50px;

    .masonry-item{
        margin-bottom: 25px;
    }

    .crop{
      overflow:hidden;
      width: 100%;
      height: 250px;
      text-align: center;

      background-position: center center;
      background-repeat: no-repeat;

      background-size: cover;
    }
    .crop img{
      width: auto;
      height: 100%;
    }

    .ratings{
      margin-top: 4px !important;
      line-height: 14px;
    }

    .upper-menu{
        background-color: $primary-color;
        padding: 18px 5px 18px 5px;
        position: relative;

        .subscriber_count{
            position: absolute;
            top: -45px;
            left: 10px;
            width: 66px;
            cursor: pointer;

            .overall-bg{
              position: absolute;
              left:50%;
              margin-left:-33px;
              width: 66px;
                z-index: 2;
                .heart{
                  color: transparent;
                  font-size: 66px;
                }
            }

            .save-button{
              position: absolute;
              left:50%;
              top: 33px;
              margin-left:-27px;
              width: 60px;
              text-align: center;

              background-color: $offset-color;
              border-bottom: 3px solid #A36042;
              color: white;
              font-weight: bold;
              z-index: 3;

              padding: 0px 8px;
            }

            .num{
              position: absolute;
              background-color: white;
              left:50%;
              top: 14px;
              margin-left:-27px;
              width: 60px;
              text-align: center;
              color: $primary-color;
              font-weight: bold;
              z-index: 3;
            }

          &.saved, &:hover{
            .overall-bg .heart{
              color: $offset-color;
            }
            .num{
              color: white;
              background-color: transparent;
            }
            .save-button{
              background-color: $secondary-color;//#A36042;
              border-color: transparent;
            }

          }
        }
    }
    .lower-menu{
        background-color: white;
        padding: 5px;
    }

    .divider{
      width: 100%;
      height: 1px;
      color: #ccc;
    }

    .footer-menu{
      p{
        background-color: white;
        padding: 5px;
        color: $primary-color;
        font-weight: bold;
        font-size: 12px;
        span{
          font-weight: 100;
        }
      }
    }

    h1{
      margin: 0;
      font-weight: bold;

    }
    .search-item-title{
        font-size: 18px;
        margin: 5px 0 0px 0;
        color: white;
        line-height: 18px;
    }

    .search-item-author{
        color: #999;
        font-size: 14px;
        margin: 0;
        a{
            color: $offset-color;
        }
    }

    .search-item-desc{
        font-size: 14px;
        color: $primary-color;

        margin-bottom: 8px;

        a{
          color: $secondary-color;
        }
    }

    .search-item-divider{
        width: 100%;
        height: 1px;
        background-color: #ccc;
        margin: 5px 0;
    }

    .search-item-left, .search-item-right{
        p, strong, em, .ratings{
            color: $primary-color;
            margin: 0 0 5px 0;
            font-size: 14px;
        }

        strong{
            font-size: 16px;
        }

        em{
            color: #999;
            font-style: italic;
        }

        .ratings{
            height: 14px;
        }
    }

    .search-item-left{
        text-align: left;
        float: left;
        p, .ratings{
            clear: left;
        }
    }

    .search-item-right{
        text-align: right;
        float: right;

        p, .ratings{
            float: right;
            clear: right;
        }
    }

    .offset-bg{
        background-color: $primary-color;
        padding: 3px 5px;
        margin-bottom: 5px;
        p, em, strong{
          font-size: 16px !important;
          color: white !important;
          margin: 0;
        }

        .ratings{
            margin-top: 5px;
        }
    }
}

#search-reviews{
  margin: 65px 0 50px 0;

  .upper-menu{
    position: relative;
    background-color: $primary-color;
    padding: 5px 5px 15px 5px;

    h1{
      margin: 0;
      font-size: 18px;
    }

    h1 a{
        color: white;
    }

    p{
      color: white;
      font-size: 12px;
      margin-bottom: 5px;
    }

    .ratings{
      float: left;
      img{
        width: 16px;
        height: 16px;
      }
    }

    .date{
      float: right;
      color: white;
      font-size: 12px;
      font-style:italic;
    }
  }

  .lower-menu{
    background-color: $bg-color;
    padding: 8px 5px;

    p{
      line-height: 1.25;
      clear: both;
    }

  }
}

#breadcrumbs{
  margin-top: 10px;
  margin-bottom: 15px;
  height: 30px;

  .home, .parent, .self, .breadcrumb-divider{
    float: left;
    margin-right: 5px;
    font-size: 16px;
    color: $primary-color;
    a{
      color: $secondary-color;
      text-decoration: underline;
    }
  }

  .breadcrumb-divider{
    font-size: 12px;
    margin-top: 4px;
    color: $offset-color;
  }

  &.dark-bg{
    .home, .parent, .self, .breadcrumb-divider{
      color: white;
      a{
        color: $offset-color;
      }
    }
    .breadcrumb-divider{
      color: $secondary-color;
    }
  }
}

.none-found{
  width: 100%;
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 20px;
  color: $primary-color;
}

.white-bg{
  background-color: white;
  padding-bottom: 25px;
}

.content-top{
  padding-top: 35px;

}

.beige-bg{
  background-color: $bg-color;
  padding-bottom: 25px;
}

.container-fluid{
  max-width: 1500px;
}

#header-wrap{
  position: relative;
  background-color: #000;
}

#header-wrap-bg{
  overflow:hidden;
  background-size: 144px 81px !important;
  position: absolute;
  opacity: 0.3;
  width: 100%;
  height: 100%;

}

@media (min-width: 992px) and (max-width: 1200px) {
  .ribbon{
    &.ribbon-content{
      height: 40px;
    }

    ul{

      font-size: 16px;
      line-height: 40px;

      li{
        height: auto;
      }

      span{
        font-size: 20px;
      }
    }
  }

  .dropdown-menu{
    text-align: center;
    li{
      height: auto;
    }
    a{
      font-size: 18px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  #search-results{
    .crop{
      overflow:hidden;
      width: 100%;
      text-align: center;
      height: auto;
    }
    .crop img{
      width: 100%;
      height: auto;
    }
  }

  .ribbon {

    &.ribbon-sort{
      height: 95px;
      padding-top: 60px;
      text-align: center;
    }

    .ribbon-left-menu {
      position: static;
      display: inline-block;
      width: 50%;
      float: left;
      margin: 0;

      li {
        margin-left: 0px;
      }
      span{
        font-size: inherit;
      }
    }

    .ribbon-right-menu {
      position: static;
      display: inline-block;
      margin: 0 auto;
      width: 50%;
      float: right;
      text-align: right;

      & > li{
        width: 100%;
        text-align: right;
      }
      li {
        margin-right: 0px;
      }
      span{
        font-size: inherit;
      }
    }
  }

  .modal {
    .modal-body {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  #new-user{
    margin-top: 15px;
  }

  #breadcrumbs {
    margin-bottom: 30px;
    margin-top: 15px;
    height: auto;
    overflow: auto;
  }
}