//
//	Colors
//

$primary-color: #174c4f;
$primary-color-rgb: rgb(23,76,79);
$secondary-color: #207178;
$secondary-color-rgb: rgb(32,113,120);
$offset-color: #ff9666; 
$offset-color-rgb: rgb(255,150,102);
$bg-color: #e8e5da;
$bg-color-rgb: rgb(252,249,237);
$highlight-color: #ffe184;
$highlight-color-rgb: rgb(255,255,132);


// 
//	Fonts
//

$heading-font: "trajan-sans-pro",sans-serif;
$non-heading-font: "proxima-nova",sans-serif;
$paragraph-font: "georgia";



//
//	Grid 
//

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 991px;
$screen-md-max: 1199px;
$screen-lg-min: 1199px;